<mat-card>
    <mat-card-header>
  <mat-form-field>
    <input matInput (keyup)="Filterchange($event)" placeholder="Enter the text" />
  </mat-form-field>
  <button style="margin-left: 60%;" (click)="addcustomer()" mat-raised-button color="primary">Add Costumer</button>
    </mat-card-header>
    <mat-card-content>

<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="POLICY_ID">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> PolicyId</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="BODILY_INJURY_LIABILITY">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> BODILY_INJURY_LIABILITY</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="COLLISION">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> COLLISION</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="COMPREHENSIVE">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> COMPREHENSIVE</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
      </ng-container>

      <ng-container matColumnDef="DATE_OF_PURCHASE">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> DATE_OF_PURCHASE</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>

      <ng-container matColumnDef="FUEL">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> FUEL</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="PERSONAL_INJURY_PROTECTION">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> PERSONAL_INJURY_PROTECTION</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="PREMIUM">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> PREMIUM</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="PROPERTY_DAMAGE_LIABILITY">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> PROPERTY_DAMAGE_LIABILITY</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="VEHICLE_SEGMENT">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> VEHICLE_SEGMENT</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="CUSTOMER_ID">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> CUSTOMER_ID</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

</table>

</mat-card-content>
<br>
<mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</mat-card-footer>
</mat-card>