<div>
<div class="section">
    <h2>Technical Assessment Overview</h2>
    <p><strong>Objective:</strong> Your goal is to create a Spring Boot application with Java to populate an SQL database with provided insurance data and then develop an Angular frontend application to fetch and display this data.</p>
  </div>
  
  <div class="section">
    <h2>Instructions</h2>
    <h3>Backend (Spring Boot with Java):</h3>
    <ul>
      <li>Set up a relational SQL database of your choice.</li>
      <li>Create a structure that can accommodate the provided JSON data format.</li>
      <li>Implement a function in your Spring Boot application to fill in the database with the provided data upon startup.</li>
      <li>Make sure your application can connect to the database only using information from the application.properties file.</li>
      <li>Design RESTful APIs to fetch the data from the database for CRUD operations in the frontend.</li>
    </ul>
    <h3>Frontend (Angular):</h3>
    <ul>
      <li>Create an Angular application with two pages (Design is up to you - Show us your skills):</li>
      <ul>
        <li>Table Page: Display the insurance data in a table format with sorting capabilities on key information of your choosing.</li>
        <li>Card Page: Showcase the insurance data using cards (Think about initial response times of your requests!!).</li>
      </ul>
      <li>Ensure data is fetched from your backend using the APIs you've developed.</li>
      <li>While responsiveness isn't mandatory, we appreciate attention to detail and good design practices.</li>
    </ul>
  </div>
  <div class="section">
    <h2>GitHub</h2>
    <p>Push your Spring Boot application and Angular application to separate GitHub repositories.</p>
    <p>Ensure that your README.md files in both repositories provide clear instructions on how to set up and run the projects.</p>
  </div>
  <div class="section">
    <h2>Technology Stack</h2>
    <p><strong>Backend:</strong> Java, Spring Boot, SQL database (of your choice)</p>
    <p><strong>Frontend:</strong> Angular</p>
    <p><strong>Version Control:</strong> Git, GitHub</p>
  </div>
  
  <div class="section">
    <h2>Deliverables</h2>
    <ul>
      <li>Link to the GitHub repository for the Spring Boot application.</li>
      <li>Link to the GitHub repository for the Angular application.</li>
      <li>A brief report or README detailing any challenges you faced and the decisions you made during the implementation.</li>
    </ul>
  </div>
  
  <div class="section">
    <h2>Submission Deadline</h2>
    <p>You have 5 days (MONDAY 23H:59) from receiving this assessment to submit your solution. Please send your deliverables to [Submission Link].</p>
  </div>
  
</div>